.routine-history table {
    width: 33%;
}

.routine-history th, 
.routine-history td {
    max-height: 2rem;
    font-size: 0.45rem;
    font-weight: 400;
    cursor: auto;
}

.routine-history td:hover {
    background-color: transparent;
}