.mission-input-container {
    max-width: 23.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.mission-input-container form {
    display: grid;
}

.mission-input-container form label {
    display: grid;
    margin: 0.5rem 0;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    gap: 2rem;
}

.inner-container span {
    font-size: 0.8rem;
}

.value-container {
    display: grid;
    align-items: end;
}

#error-span {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    transition: 1s;
    color: rgb(216, 33, 33);
    animation: slideIn 1s;
    display: none;
}

@keyframes slideIn{
    from {
        right: -100%;
    }

    to {
        right: 3rem;
    }
}
