.task-input-container {
    width: 100%;
    height: 100%;
}

.task-input-container h2 {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.task-input-container h2 input {
    width: 3rem;
}

.task-input-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-input-container form input[type="button"] {
    width: fit-content;
    position: absolute;
    top: 2rem;
    right: 0;
    cursor: pointer;
}

.task-input-container form label #input-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.task-input-container form label #input-control select {
    padding: 0.5rem;
}

.input-list {
    display: none;
}

.input-control {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.input-control input {
    width: fit-content;
}

.tasks-container {
    max-height: 70vh;
    overflow: scroll;
}

.tasks-container::-webkit-scrollbar {
    display: none;
}